*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

body{
    background-color: #5C7285;
}

header{
    background: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #0d0c0c;
}

a , li{
    text-decoration: none;
    list-style: none;
}

header > h1 > a{
    color: white;
}

header > .navbar > ul > .nav-list{
    display: inline-block;
    padding: 10px 20px;
}

header > .navbar > ul > .nav-list > a{
    color: white;
    font-size: 17px;
    transition:  0.3s;
    font-weight: 600;
}

header > .navbar > ul > .nav-list:hover > a{
    color: red;
}


header > .icon-side > button > a{
    color: white;
    font-size: 20px;
} 

header > .icon-side > button{
    border: none;
    background: none;
    padding: 10px;
}

main{
    position: relative;
    height: 675px;
    width: 100%;
    background: url("image/head.png");
    background-position: center;
    background-size: cover;
}

main > .containerr{
    position: relative;
    top: 150px;
    left: 150px;
    color: #fff;
    /* background-color: rgb(124, 69, 69); */
    width: 550px;
    height: 350px;
    padding: 20px;
}

main > .containerr > .title{
    margin-bottom: 10px;
}

main > .containerr > .smth{
    margin-bottom: 10px;
}

main > .containerr > .smth > .m{
    margin-right: 20px;
}

main > .containerr > .smth > .dot{
    font-size: 7px;
}

main > .containerr > .desc{
    margin-bottom: 15px;
}

main > .containerr > .smth1{
    margin-bottom: 20px;
    display: flex;
}

main > .containerr > .smth1 > p{
    margin-right: 60px;
}

main > .containerr > .btn-blog > button{
    padding: 10px 15px;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.3s;
}

main > .containerr > .btn-blog > .btnStr{
    background-color: red;
    border: none;
    color: #fff;
}

main > .containerr > .btn-blog > .btnPl{
    background: none;
    border: 1px solid #ffffff9e;
    color: #fff;
    margin-left: 30px;
}

/* modal */

.popup{
    position: absolute;
    top: -150%;
    opacity: 0;
    left: 50%;
    transform: translate(-50% , -50%) scale(1.25);
    width: 380px;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: 0.5s;
}

.popup.active{
    top: 50%;
    transform: translate(-50% , -50%) scale(1);
    opacity: 1;
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}

.popup .btnClose{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.popup .form h2{
    text-align: center;
    color: #222;
    margin: 10px 0 20px;
    font-size: 25px;
}

.popup .form .form-element{
    margin: 15px 0;
}

.popup .form .form-element label{
    font-size: 14px;
    color: #222;
}

.popup .form .form-element input[type="text"], .popup .form .form-element input[type="password"]{
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.popup .form .form-element input[type="checkbox"]{
    margin-right: 5px;
}

.popup .form .form-element button{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    background: #222;
    color: #f5f5f5;
    border-radius: 8px;
    cursor: pointer;
}

.popup .form .form-element a{
    display: block;
    text-align: right;
    font-size: 16px;
    color: #1a79ca;
    font-weight: 600;
}

